<div class="region region-sidebar-second sidebar">
  
    <section id="block-service-links-service-links-not-node" class="block block-service-links">
        <div class="block-inner clearfix">
            <h2 class="block-title">Spread the Love</h2>
            
            <div class="block-content content">
                <div class="view">
                    <div class="views-row">
                        <h2 style="font-weight:lighter;color:#3a3a3a;">Share UX Channel</h2>
                        <p>Like UX Channel? Follow us on social media and let other people know!</p>
                        <div class="service-links">
                            <div class="item-list">
                                <ul><li><iframe allowtransparency="true" frameborder="0" scrolling="no" src="http://platform.twitter.com/widgets/tweet_button.1374787011.html#_=1375607315445&amp;count=none&amp;counturl=http%3A%2F%2Fwww.uxchannel.com%2Fnode&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2Fwww.uxchannel.com%2F&amp;size=m&amp;text=UX%20Channel%20%7C%20UX%20Videos%20and%20News&amp;url=http%3A%2F%2Fwww.uxchannel.com%2Fnode&amp;via=ux_channel" class="twitter-share-button service-links-twitter-widget twitter-count-none" title="Twitter Tweet Button" data-twttr-rendered="true" style="width: 56px; height: 20px;"></iframe></li>
                                <li>
                                    <div class="g-plusone"></div>

                                    <script type="text/javascript">
                                      (function() {
                                        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                                        po.src = 'https://apis.google.com/js/plusone.js';
                                        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                                      })();
                                    </script>

                                </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </section>   
</div>

